# Data Programming in Python | BAIS:6040
# Module 5 -  Data Manipulation and Analysis with Pandas

Written by Kang-Pyo Lee 

Topics to be covered:
- Pandas series (+ exercises)
- Loading a data set into a Pandas dataframe
- Element selection from a dataframe (+ exercises)
- Handling missing values in a dataframe (+ exercises)
- Iteration over a dataframe
- Aggregation and grouping of a dataframe  (+ exercises)

Pandas is a fast, powerful, flexible, and easy-to-use open source package for data manipulation and analysis in Python.

## Data Structures in Pandas

In [ ]:
from IPython.display import Image

Image(url="https://cdn-images-1.medium.com/max/800/0*PWbW0OdJJw49kxMt.png")

Series are one-dimensional arrays. A series has values (e.g., X0 to X3) along with an index of positions or labels (e.g., A, B, C, and D). The index is used to access the values in the series.

In [ ]:
Image(url="https://cdn-images-1.medium.com/max/800/0*dddYH8GijZanG4dO.png")

A dataframe is designed to extend series to two dimensions. A dataframe has values (e.g., A0 to D3) along with two indices for accessing the values: a row index called just index (e.g., 0, 1, 2, and 3) and a column index called columns (e.g., A, B, C, and D). A dataframe is, in fact, a collection of mulitple series, each of which shares an index.

## Importing the Pandas Package

In [ ]:
# ! pip install --user --upgrade pandas

In [ ]:
import pandas as pd

## Pandas Series

In [ ]:
data = list(range(10, 101, 10))
data

In [ ]:
series = pd.Series(data=data)     # Create a Pandas series from a list. 
series

pandas.Series: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html

The right-hand side is the values of the `series`, and the left-hand side is the index of the `series`. If you do not specify any index during the series creation, Pandas will, by default, assign integer values increasing from 0 by 1 as its index.

In [ ]:
type(series)

In [ ]:
series.index

In [ ]:
list(series.index)

In [ ]:
series.values

## Selecting Elements from a Series

Element selection from a series is the same as that from any other iterable object in Python.

In [ ]:
series

In [ ]:
series[0]

In [ ]:
series[:3]

In [ ]:
series[-3:]

In [ ]:
for num in series:
    print(num)

When iterating over a series, only the values are exposed. The index is not exposed, which means the index is only used for accessing elements in a series.

In [ ]:
index = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]     
series2 = pd.Series(data=data, index=index)                  # Use Alphabet letters as the index of a series.
series2

Often it is preferable to create a series using meaningful labels, instead of numbers, in order to distinguish and identify each item regardless of the order in which they were inserted into the series.

In [ ]:
series2.index

In [ ]:
series2.values

In [ ]:
series2["a"]

You can select individual elements, specifying the label corresponding to the position of the index.

In [ ]:
series2.a

`series.a` is equivalent to `series["a"]` if `a` is a string.

In [ ]:
series2[0]

Element selection specifying the index position still works.

In [ ]:
series2[:3]

In [ ]:
series2[["a", "b", "c"]]

Fancy indexing still works for Pandas series and dataframes.

In [ ]:
for num in series2:
    print(num)

In [ ]:
index = ["a", "b", "c", "d", "e", "a", "b", "c", "d", "e"]
series3 = pd.Series(data=data, index=index)
series3

The index positions and labels do not have to be unique.

In [ ]:
series3["a"]

## Exercises for Selecting Elements from a Series

<hr>

## Loading a Data Set into a Pandas Dataframe

In [ ]:
from seaborn import load_dataset

df = load_dataset("titanic")
df

# Columns
survived     Survival           0 = No, 1 = Yes 
pclass       Ticket class       1 = 1st, 2 = 2nd, 3 = 3rd 
sex          Sex 
age          Age in years 
sibsp        # of siblings / spouses aboard the Titanic 
parch        # of parents / children aboard the Titanic 
fare         Passenger fare 
embarked     Port of Embarkation C = Cherbourg, Q = Queenstown, S = Southampton
...

In [ ]:
df = df[["survived", "pclass", "sex", "age", "fare"]].sample(n=10, random_state=1)  # data reduction
df

In [ ]:
df.shape     # 10 rows and 5 columns

In [ ]:
df.columns

In [ ]:
df.index

The index positions are not in order, as the 10 rows were randomly selected.

In [ ]:
df.values

In [ ]:
len(df)

The length of a dataframe refers to the number of rows in the dataframe.

In [ ]:
df.info()

pandas.DataFrame.info: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html

The <b>info</b> method shows a concise summary of a dataframe.

In [ ]:
df.head()          # Returns the first 5 rows.

pandas.DataFrame.head: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html

In [ ]:
df.head(10)

In [ ]:
df.tail()          # Returns the last 5 rows.

pandas.DataFrame.tail: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html

When you have a new dataset, it is always a good idea to start by looking at the first and last few rows to get a sense of what the entire dataset would look like.

## Selecting Elements from a Dataframe

In [ ]:
df

In [ ]:
df["age"]          # Returns all rows in the column age.

NaN stands for "Not A Number", which means a null value in a series.

In [ ]:
df.age

`df.a` is quivalent to `df["a"]` if `a` is a string.

In [ ]:
type(df.age)

A column in a dataframe is in fact a series.

In [ ]:
df.age.index

In [ ]:
df.age.values

In [ ]:
for num in df.age:
    print(num)

In [ ]:
df[0]

In [ ]:
df[:3]                 # Returns the first 3 rows.

In [ ]:
df[-3:]

In [ ]:
df["age"][862]         # Returns the element with row index position 862 in the age column.

Note that you should look up the column label first, followed by the row index position, each in separate matching brackets.

In [ ]:
df[862]["age"]

In [ ]:
df["age"][:3]          # Returns the first 3 rows in the age column.

In [ ]:
df.iloc[0]             # Returns the first row.

<b>iloc</b> means index location. If there is only one argument inside the matching square brackets, that argument is for the row index.

In [ ]:
type(df.iloc[0])

A row in a dataframe is a series too, just as a column in a dataframe is a series. This means that a dataframe is a 2D collection of series.

In [ ]:
df.iloc[:, 0]          # Returns all rows in the first column.

If there are two arguments inside the matching square brackets, the first one is for the row index while the second for the column index. Note that when using <b>iloc</b> you should look up the row index position first and then the column index positions, all in matching square brackets.

In [ ]:
df.iloc[:, :2]         # Returns all rows in the first 2 columns.

In [ ]:
df.iloc[:3, :2]        # Returns the first 3 rows in the first 2 columns.

In [ ]:
df.iloc[-3:, -2:]      # Returns the last 3 rows in the last 2 columns.

In [ ]:
df[df.age > 30]        # Sets a condition for filtering.

Masking, or Boolean indexing, is used to select a subset of rows from a dataframe.

In [ ]:
df[age > 30]

Make sure to put `df.` before the column name `age`.

In [ ]:
df[(df.age > 30) & (df.pclass == 1)]

In [ ]:
df[(df.age > 30) | (df.pclass == 1)]

In [ ]:
df[["survived", "sex"]]

To select all rows in certain columns, put a list of column names as a mask.

In [ ]:
df["survived", "sex"]

Make sure to put a list of columns as a mask.

In [ ]:
df.drop("fare", axis=1)    # Returns a new copy of df with the column fare dropped.

pandas.DataFrame.drop: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html

The <b>drop</b> method is used to delete an entire column with all its content. The axis must be set to 1, so that the method can find the column on the column axis. Note that the <b>drop</b> method returns a copy, not changing the content of the target dataframe.

In [ ]:
from IPython.display import Image

Image(url="https://i.stack.imgur.com/DL0iQ.jpg")

In NumPy and Pandas, axis 0 refers to the row axis, while axis 1 to the column axis.

In [ ]:
df.drop(["fare", "sex"], axis=1)

In [ ]:
# df = df.drop("fare", axis=1)

To actually delete the column `fare` from `df`, save the resulting dataframe from the <b>drop</b> method back in `df`.

In [ ]:
del(df["fare"])

Another way to delete a column is to use the <b>del</b> command. This actually deletes the column in the dataframe.

In [ ]:
df

In [ ]:
df.columns

## Exercises for Selecting Elements from a Dataframe

<hr>

## Handling Missing Values in a Dataframe

In many cases, you need to handle null values, or missing values, in a dataframe. There are two approaches you can consider to handle null values:
- Drop the rows with null values (--> easy but lose data)
- Fill the null values with something else (--> not lose data but careful what to fill with)

In [ ]:
df = load_dataset("titanic")
df = df[["survived", "pclass", "sex", "age", "fare"]].sample(n=10, random_state=3)
df

In [ ]:
df.info()

In [ ]:
df.isnull()

pandas.DataFrame.isnull: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isnull.html

The <b>isnull</b> method returns which entries in a dataframe are null.

In [ ]:
df.isnull().any(axis=1)

pandas.DataFrame.any: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.any.html

The <b>any</b> method returns whether any element is True over the specified axis.

In [ ]:
mask = df.isnull().any(axis=1)
df[mask]     # Returns all rows with any null values.

In [ ]:
df1 = df.copy()
df1

pandas.DataFrame.copy: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.copy.html

The <b>copy</b> method makes a copy of a dataframe.

In [ ]:
df1.dropna()

pandas.DataFrame.dropna: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html

The <b>dropna</b> method drops all rows with any null values in a dataframe. Note that it returns a copy of the target dataframe.

In [ ]:
df1 = df1.dropna(how="any")
df1

Note that the <b>dropna</b> method drops the entire row if there is any null value in the row.

In [ ]:
len(df1)

In [ ]:
df2 = df.copy()
df2

In [ ]:
df2 = df2.dropna(how="all")
df2

If you set the parameter `how` to *all*, it drops the row when all values in the row are null. Default is any.

In [ ]:
df3 = df.copy()
df3

In [ ]:
df3.age = df3.age.fillna(value=0)        # Targeted at a specific column
df3

pandas.DataFrame.fillna: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html

You should determine whether you are going to deal with the whole dataframe or one or more specific columns in the dataframe. The <b>fillna</b> method fills all the null values with a value specified in the `value` parameter.

In [ ]:
df4 = df.copy()
df4

In [ ]:
df4 = df4.fillna(value={"survived": df.survived.mean(), "pclass": df.pclass.mean(), "sex": "unknown",
                        "age": df.age.mean(), "fare": df.fare.mean()})
df4

Instead of filling all null values with the same value, you can fill with different values depending on the column, specifying one by one the columns and the values to be replaced in a dictionary.

In [ ]:
df5 = df.copy()
df5

In [ ]:
df5 = df5.fillna(method="ffill")
df5

If you set the parameter `method` to *ffill*, which means forward fill, it propagates the last non-null observation forward. Setting it to *bfill*, which means backward fill, works backward.

In [ ]:
df6 = df.copy()
df6

In [ ]:
df6 = df6.fillna(method="bfill")
df6

## Exercises for Handling Missing Values

<hr>

## Iteration over a Dataframe

There are multiple ways to iterate rows in a dataframe:  
- Using <b>iloc</b>
- Using the <b>iterrows</b> method to iterate over the rows as (index, series) pairs
- Using <b>itertuples</b> method to iterate over the rows as named tuples

You can choose any of the three above depending on how you want to retrieve data from a dataframe.

In [ ]:
df = load_dataset("titanic")
df = df[["survived", "pclass", "sex", "age", "fare"]].sample(n=10, random_state=5)
df

In [ ]:
for i in range(len(df)):
    row = df.iloc[i]
    
    print(row.values)

In [ ]:
for idx, row in df.iterrows():
    print(idx)
    print(row)
    print()

In [ ]:
for idx, row in df.iterrows():
    survived = row.survived
    pclass = row.pclass
    sex = row.sex
    age = row.age
    fare = row.fare
    
    print(idx)
    print(survived, pclass, sex, age, fare)
    print()

You can decompose each row into a set of column values at each iteration .

In [ ]:
for t in df.itertuples():
    print(t)

In [ ]:
# Iterates over the rows as a tuple
for idx, survived, pclass, sex, age, fare in df.itertuples():
    print(idx)
    print(survived, pclass, sex, age, fare)
    print()

You can decompose each tuple into a set of column values at each iteration.

<hr>

## Aggregation and Grouping of a Dataframe

In [ ]:
df = load_dataset("titanic")
df

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
df.describe()

pandas.DataFrame.describe: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html

The <b>describe</b> method generates various descriptive summary statistics of a series or a dataframe.

In [ ]:
df.mean()                         # Returns the mean value of each column.

In [ ]:
df.age.mean()                     # Returns the mean age.

You can specify the column you are interested in.

In [ ]:
df.age.min()                      # Returns the minimum age.

In [ ]:
df.age.max()                      # Returns the maximum age.

In [ ]:
df.age.std()                      # Returns the standard deviation of age.

In [ ]:
df[df.pclass == 1].age.mean()     # Returns the mean age of the first class passengers.

If you are only interested in a subset of rows, first select the rows using a mask and then do what you want.

In [ ]:
df[(df.pclass == 1) & (df.survived == 0)].fare.mean()  # Returns the mean fare of the first class passengers who died.

In [ ]:
df.groupby("sex").mean()

pandas.DataFrame.groupby: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

The <b>groupby</b> method groups a dataframe by a series of columns. It must be followed by an operation you want to do after grouping.

In [ ]:
df.groupby("class").mean()

In [ ]:
df.groupby("class").age.mean()

In [ ]:
df.groupby(["sex", "class"]).age.mean()

You can group by multiple columns. In this case, the order of columns matters.

In [ ]:
df.sort_values(by="fare", ascending=False)

pandas.DataFrame.sort_values: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html

The <b>sort_values</b> method sorts a dataframe by a series of columns.

In [ ]:
df.sort_values(by=["fare", "age"], ascending=[False, True])

You can sort by multiple columnms. Again, the order of columns matters.

In [ ]:
df.sample(n=10, replace=False, random_state=0)

pandas.DataFrame.sample: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html

The <b>sample</b> method returns a random sample of items from a dataframe. The default value for the `replace` parameter is False, which means the sampling does not allow duplicates. The `random_state` parameter controls the reproducibility of the random sampling.

## Exercises for Aggregation and Grouping